PORT=
HOST=
MONGO_URL=
JWT_SECRET=



CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=	
CLOUDINARY_API_SECRET=


RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=


EMAIL_USER=
EMAIL_PASS=



# oobj wwtp dekl iasn
# harshitarathod1823@gmail.com

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=